html {
	scroll-behavior: smooth;
}

.section1 {
     
     background-image: url(../img/Keyboard.png);
     max-width: 1400px;
     width: 100%;
     
     /*margin: auto;*/
     background-size: cover;
     padding: 0;

    


     
     }



.black {
	background-color: black;
	max-width: 1400px;
     width: 100%;
      height: 645px;
     
     margin: auto;
     background-size: cover;
     background: rgba(0,0,0,.75);

   


}

.navbar-nav {
	padding-right: 25px;
}

.navbar {
	padding-left: 11%;
	padding-top: 30px;
	
	padding-bottom: 0px;
}


.navbar-brand {
	font-size: 36px;
	float: left;
	font-family: 'Poppins', sans-serif;


}

.nav-link {
	font-size: 14px;
	margin-right: 45px;
	font-family: 'Poppins', sans-serif;

}

.navbar-toggler-icon{
	border-radius: 95%;
}


	


.build{
	font-size: 40px;
	/*width: 480px;*/
	margin-top: 10px;
	text-align: center;
	font-family: 'Poppins', sans-serif;

}
.website {
	margin-top: 155px;
font-size: 40px;
text-align: center;
font-family: 'Poppins', sans-serif;
}



.line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #35C2F8;
	height: 1.7px;
	margin-top: 35px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border-right: 20%;

    
}

.text2{
	font-size: 20px;
	margin-top: 45px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.text3 {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	
}

.nav-link:hover {
	background-color: #3DC2D3;

	border-radius: 15px;
	-webkit-box-shadow: 1px 1px 10px aqua;
	        box-shadow: 1px 1px 10px aqua;


}

@media all and (max-width: 1125px) {
	.navbar {padding-left: 5%;}
}


@media all and (max-width: 992px) {
   .nav-link:hover {
	background-color: transparent;

	border-radius: none;
	-webkit-box-shadow: none;
	        box-shadow: none;


}

	
}

@media all and (max-width: 560px) {
	.black {padding-left: 15px;padding-right: 15px;}
}



/*seqecia 2*/

.section2{
	max-width: 1400px;
     width: 100%;
     
     

    
     
     margin: auto;
     /*margin-top: 5%;*/
     
     padding: 0;
     /*position: absolute;*/ 
     background-color: #fff;
     margin-bottom: 100px;
     padding-left: 50px;
     padding-right: 50px;

}

.h1 {
	font-size: 40px;
	margin-top: 90px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.boxes {
	/*margin-top: 70px;*/
	padding-left: 70px;
	padding-right:40px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.design {
	text-align: center;
	margin-top: 40px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;

}

.logos {
	margin-top: 70px;
}

.box1 {
	text-align: center;
	width: 150px;

}

.proin {
	margin-top: 12px;
	font-size: 14px;
	color: #888888;
	font-family: 'Poppins', sans-serif;
}

@media all and (max-width: 769px) {
	.section2 {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media all and (max-width: 500px){

	.boxes {
		padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;
	}
}

/*seqcia 3*/

.seqcia3 {
	max-width: 1400px;
     width: 100%;
     
     
     margin: auto;
     /*margin-top: 5%;*/

     
     padding: 0;
     /*position: absolute; */
     background-color: #F8F8F8;
    
}


.yuteqsa2 {
	padding: 0;
}


.magida {
	height: 100%;
	width: 100%;

}

.yuteqsa1 {
	padding-left: 120px;
	padding-top: 100px;
	padding-right: 80px;
	padding-bottom: 200px;
	



}

* {
	padding: 0;
}

.ieso {
	
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
}

.shida {
	padding: 0px;
	margin-top: 56px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.ieso1{
	margin-top: 40px;
	color:#888888;
	font-family: 'Poppins', sans-serif;

}

.logoebe {
	width: 25px;
	margin-right: 8px;
}

.pawawunebi{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	font-size: 14px;

}

.pawawunebi1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-top: 30px;
	font-size: 14px;
}

.vaxtangi{
	color:#888888;
	margin-top: 10px;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}

.eichotxi {
	font-family: 'Poppins', sans-serif;
}


@media all and (max-width: 1204px) {
  .yuteqsa2 { display: none}
  .shida {
    -ms-flex-pack: distribute;
        justify-content: space-around}
   .ieso {
   	text-align: center;
   }
   .ieso1{
   	text-align: center;
   }
   .plansheti {display: none}
   .yuteqsa1 {
   	padding-left: 10px;
   	padding-right: 10px;
   }


}
@media all and (max-width: 1025px){
	.ieso1 {padding-left:100px ;padding-right:110px; }
}
 


@media all and (max-width: 850px) {
   .ieso1 {
   	padding-left: 50px;
   	padding-right: 50px;
   }

}

@media all and (max-width: 765px){
	.shida {
		padding-left: 50px;

	}
	.pawawunebi {
		margin-top: 20px;
	}
}

@media all and (max-width: 500px){
	.ieso {text-align: left; padding-left: 20px;}
    .ieso1 {text-align: left; padding-left: 20px;padding-right: 20px;}
    .shida {padding-left: 20px;}

}




/*seqcia 4*/
.seqcia4 {
	max-width: 1400px;
     width: 100%;
     margin: auto;
     padding: 0;
     background-color: white;
     margin-top: 100px;

    
}

.boqseqsa1{
	padding-left: 120px;
	
	padding-right: 75px;
	
	width: 50%;
	
}


.plansheti {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 100%;
	-o-object-position: 0 100%;
	   object-position: 0 100%;
	-webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(7px 7px 9px #222);


}

.sataure1 {
	font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.boqseqsa2{
	padding: 0px;
	width: 50%;
	

}

.maxoie{
	color: #888888;
	margin-top: 55px;
	font-family: 'Poppins', sans-serif;
}

.vaxoie {
	color: #888888;
	margin-top: 40px;
	font-family: 'Poppins', sans-serif;
}

.kidoshida {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.logoebee {
	height: 27px;
	margin-right: 8px;
	display: inline-block;

}

.vaxtangi {
	font-family: 'Poppins', sans-serif;
}



@media all and (max-width: 1204px) {


	.sataure1{margin-left: 35px;}
	.maxoie{margin-left: 35px;margin-right: 15px;}
	.vaxoie{margin-left: 35px;}
	.boqseqsa1{
		padding-left: 90px;
		padding-right: 130px;
		width: 100%;
	}
}

@media all and (max-width: 765px){
	.boqseqsa1{
		padding-left: 40px;padding-right: 40px;
	}
}

@media all and (max-width: 500px){
	.boqseqsa1{
		padding-left: 20px;padding-right: 20px;
	}
}

 /*seqcia5*/

.seqcia5{
   max-width: 1400px;
     width: 100%;
     margin: 0px;
     padding: 0px;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
     border: 0px;
     margin-top: 100px;
     
}

.pic1 {
	width: 100%;
	padding:0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 0px;
	display: block;

}

.xazive{
	padding:0px;
	margin: 0px;
	/*max-width: 465px;*/
	width: 100%;
	-webkit-box-sizing: none;
	        box-sizing: none;
	border: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: hidden;
	

	
}

.xazive1 {
	padding:0px;
	margin: 0px;
	/*max-width: 465px;*/
	width: 100%;
	-webkit-box-sizing: none;
	        box-sizing: none;
	border: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: hidden;
}

/*seqcia6*/

.seqcia6 {
	max-width: 1400px;
     width: 100%;
     margin: 0px;
     padding: 0px;
     background-color: white;
     margin-top: 100px;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;

}

.aboutus {
	 
	 	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	text-align: center;

	 }


.teqsteeee {
	 
	
	max-width:300px;
	margin-right: 40px;
	text-align: right;
	float:right;
	width: 100%;

}

.circle {
	background-color: grey;
	max-width: 165px;
	height: 165px;
	margin-left: 15px;
	border-radius: 50%;
	border: 5px solid rgba(5, 0, 0, .6);
	float:right;
	margin-right: 370px;
	width: 100%;


}


.circlecontentins {
	max-width: 900px;
	width: 100%;

	
	

}

.circlecontent{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   margin-top: 80px;


}

.july {
	font: 14px;
	font-family: 'Poppins', sans-serif;
}

.july1{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	margin-top: 14px;
}

.july2{
	font-size: 14px;
	color: #888888;
	font-family: 'Poppins', sans-serif;
	margin-top: 24px;
}


.teqsteeee1 {
	 
	
	max-width:300px;
	margin-left: 40px;
	text-align: left;
	float:left;
	width: 100%;

}

.circle1 {
	background-color: grey;
	max-width: 165px;
	height: 165px;
	margin-right: 15px;
	border-radius: 50%;
	border: 5px solid rgba(5, 0, 0, .6);
	float:left;
	margin-left: 370px;
	width: 100%;


}


.circlecontentins1 {
	max-width: 900px;
	width: 100%;

	
	

}

.circlecontent1{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   margin-top: 80px;


}

.teqsteeee  {
	width: 300px;
	text-align: right;
}


@media all and (max-width: 910px){

     .circle {
     	margin: 0px;
     	float: none;
     	margin-left: auto;
     	margin-right: auto;

     }
     .teqsteeee {
     	margin: 0px;
     	float: none;
     	margin-left: auto;
     	margin-right: auto;
     	text-align: center;
     	margin-top: 50px;

     }

     .circle1 {
     	margin: 0px;
     	float: none;
     	margin-left: auto;
     	margin-right: auto;

     }
     .teqsteeee1 {
     	margin: 0px;
     	float: none;
     	margin-left: auto;
     	margin-right: auto;
     	text-align: center;
     	margin-top: 50px;

     }

}

/*seqcia7*/

.seqcia7 {
	max-width: 1400px;
     width: 100%;
     margin: 0px;
     padding: 0px;
     background-color: #F7F7F7;
     margin-top:100px;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     padding-top: 100px;



}

.awesome {
	
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	text-align: center;

}

.dididivi{
	margin-top: 80px;
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

}

.shaviwre {
	background-color: black;
	width: 220px; ;
	height: 220px;
	border-radius: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;


}

.kukuri {
    text-align: center;
    margin-bottom: 70px;
}

.jimmy {
	margin-top: 20px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

.marketer {
	font-family: 'Poppins', sans-serif;
	margin-top: 5px;
	color: #888888;

}

.logchoebi{
   
}

.logcho{
	width: 40px;
	
	border-radius: 50%;
	margin-top: 15px;

}

.logcho:hover {
	background-color: aqua;
}

.zurmuxta {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: #888888;
	margin-bottom: 100px;

}

@media all and (max-width: 1024px){
	.logcho:hover {
		background-color: white;
	}

}

/*seqcia8*/

.seqcia8 {
	max-width: 1400px;
     width: 100%;
     margin: 0px;
     padding: 0px;
     background-color: #111111;
     padding-top: 100px;
     padding-bottom: 35px;
}

.contact {
	color: white;
	float: left;
	padding-right: 0px;


}

.register {
	color:white;
	float: right;
}

.mtlaufrosi {
    max-width: 940px;
    width: 100%;
    margin-left: auto;
    margin-right:  auto;
}

.contactus {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	
}

.bunch {
	margin-top: 35px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	margin-bottom: 30px;

}

.kontaktebi {
	margin-bottom: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}

.bunch1{
	margin-top: 35px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	


}

.wilifoni {
	height: 25px;
	margin-right: 5px;

	
	

}

.nomeri {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
   
}

.register {
	margin-bottom: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;

}

.nomeri:hover {
	color: aqua;

}

.informacia {
	margin-right: 0px;
}


@media all and (max-width:992px) {
     .contactus {
     	text-align: center;

     }
     .bunch {text-align: center}
     .informacia {
     	max-width: 500px;
     	width: 100%;
     	display: -webkit-box;
     	display: -ms-flexbox;
     	display: flex;
     	-webkit-box-pack: justify;
     	    -ms-flex-pack: justify;
     	        justify-content: space-between;
     	margin-left: auto;
     	margin-right: auto;

     }

     .nomeri:hover {
     	color: white;
     }
}

@media all and (max-width:  767px){
     .kontaktebi {
     	padding: 0px;
     	margin-left: auto;
     	margin-right: auto;
     	width: 240px;

     }
     .register {
     	padding: 0px;
     	margin-left: auto;
     	margin-right: auto;
     	width: 240px;
     	
    

     }
     .informacia {
     	max-width: 235px;
     }

}

.btn {
	border-radius: 15px;
}

.saregistracio{
	margin-left: auto;
	margin-right: auto;
}

.line1 { 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    background-color: white;
    height: 1.7px;
    margin-top: 35px;
    max-width: 884px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;}

.copyright {
	color: white;
	text-align: center;
	margin-top: 35px;


}